.news {
  margin-top: 60px;

  .event-slider__wrapper__float {
    right: -40px;

    @include for-phone-only {
      right: -38px;
    }
  }

  .event-slider__wrapper__float__arrow {
    top: 22px;
  }

  .event-slider__wrapper__content {
    @include for-tablet-portrait-up {
      flex-direction: column-reverse;
    }
    @include for-phone-only {
      flex-direction: column-reverse;
    }
  }
}
